button{
    background-color: #505050;
    color: white;
    width: 2.5em;
    height: 2.5em;
    border: none;
    border-radius: 2em;
    font-size: 2em;
    margin: 0.2em;
    font-family: 'Roboto Flex';
}

button:hover{
    cursor: pointer;
}

/*specific colours for special keys*/
.orange{
    background-color: #FF9500;
    color: white;
}

.grey{
    background-color: #d4d4d2;
    color: black;
}

.zero{
    width: 5.4em;
    text-align: left;
    padding-left: 1em;
}
